.profile {
    background-color: rgba(255, 255, 255, 0.17);
}
.home {
    background-color: rgba(255, 255, 255, 0.17);
}
.search {
    background-color: rgba(255, 255, 255, 0.17);
}
.people {
    background-color: rgba(255, 255, 255, 0.17);
}
.requests {
    background-color: rgba(255, 255, 255, 0.17);
}
.logout {
    background-color: rgba(255, 255, 255, 0.17);
}

